/* General Styles */
body {
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.logout-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #ff4d4d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #cc0000;
}

#weather-logs {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: rgb(38, 247, 247);
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
#weather_logs:hover {
    background-color: #cc0000;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
