<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherX Pro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
</head>

<body>
    <header>
        <h1>🌦 WeatherX Pro</h1>
        <a class="logout-button" href="{{ url_for('logout') }}">Logout</a>
        <a id="weather-logs" href="{{ url_for('weather_logs_list') }}">Weather Logs</a>
    </header>

    <main>

        <div>
            <label for="city">Enter city:</label>
            <input type="text" id="city" placeholder="e.g., London">
            <button id="search-btn">Get Weather</button>
        </div>
        <div id="weather-info">
            <p id="info-title">Weather Information will appear here.</p>
            <p id="country-name"></p>
            <p id="city-name"></p>
            <p id="weather-condition"></p>
            <p id="temperature"></p>
            <p id="pressure"></p>
            <p id="humidity"></p>
            <p id="wind-speed"></p>
            <p id="wind-degree"></p>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 WeatherX Pro. All Rights Reserved.</p>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/dashboard.js') }}"></script>
</body>

</html>