<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherX Pro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
</head>

<body>
    <header>
        <h1>🌦 WeatherX Pro</h1>
        <a class="logout-button" href="{{ url_for('logout') }}">Logout</a>
        <a id="weather-logs" href="{{ url_for('weather_logs_list') }}">Weather Logs</a>
    </header>

    <main>
        <section class="card">
            <div class="search">
                <input id="search-input" type="text" placeholder="Enter name of the place" spellcheck="false" aria-label="Search location">
                <button id="search-btn">
                    <img src="{{ url_for('static', filename='images/search.png') }}" alt="Search">
                </button>
            </div>

            <div class="error">
                <p>Invalid city name. Please try again.</p>
            </div>

            <div class="weather">
                <!-- Dynamically setting the weather icon based on backend response -->
                <h1 class="temp">{{ temp }}°C</h1>
                <h2 class="city">{{ city_name }}</h2>
                <p class="weather-condition">{{ weather_condition }} - {{ weather_description }}</p>
                <div class="details">
                    <div class="col">
                        <img src="{{ url_for('static', filename='images/humidity.png') }}" alt="Humidity">
                        <div>
                            <p class="humidity">{{ humidity }}%</p>
                            <p class="text">Humidity</p>
                        </div>
                    </div>
                    <div class="col">
                        <img src="{{ url_for('static', filename='images/wind.png') }}" alt="Wind Speed">
                        <div>
                            <p class="wind">{{ wind_speed }} km/hr</p>
                            <p class="text">Wind Speed</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="log-weather">
            <input id="place-input" type="text" placeholder="Log another place" spellcheck="false" aria-label="Log location">
            <button id="log-btn">
                <img id="log_image" src="{{ url_for('static', filename='images/log_icon.png') }}" alt="Log Icon">
            </button>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 WeatherX Pro. All Rights Reserved.</p>
    </footer>
</body>

</html>
